*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container principal */
.grid-container{
    display: grid;
    grid-template-areas:
    "nav"
    "section"
    "main"
    "footer" 
    ;
    grid-template-rows: 80px 80px auto 80px;
    min-height: 85vh;
}

nav{
    grid-area: nav;
    background-color: #00b8ff;
}
section{
    grid-area: section;
    background-color: #f3eae8;
}
main{
    grid-area: main;
    
}
footer{
    grid-area: footer;
    background-color: #00319a;
}
/*fin container prinicipal */

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
}

nav .nav-car img{
    width: 50px;
}

nav .nav-car{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    color:#ffffff;
}
/* fin navbar */

/* section */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
section span{
    font-size: 20px;
}
section select{
    width: 70%;
    height: 50px;
}
/* fin section */

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 30px;
}
footer span{
    color:#ffffff;
}
/* fin footer */

/* main */
main .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    margin: 20px;
    height: 430px;
}
main .card img{
    width: 300px;
}
main .card .text-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .card .text-button span{
    font-size: 25px;
    padding: 10px;
}
main .card .text-button button{
    font-size: 15px;
    padding: 10PX;
    background-color:#00b8ff;
    color: white;
    border-radius: 5px;
    width: 100px;
}

    /* paginas */
    main .paginas{
        display: flex;
        justify-content: center;
    }
    main .paginas ul{
        list-style: none;
        display: flex;
        padding: 5px;
        margin: 30px;
    }
    main .paginas ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
        width: 50px;
        height: 50px;
        color:yellowgreen;
        font-size: 25px;

    }

     
/* fin main */
