*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container principal */
.grid-container{
    display: grid;
    grid-template-areas:
    "nav"
    "section"
    "main"
    "footer" 
    ;
    grid-template-rows: 80px 80px auto 80px;
    min-height: 85vh;
}
nav{
    grid-area: nav;
    background-color: #00b8ff;
}
section{
    grid-area: section;
    background-color: #f3eae8;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    background-color: #00319a;
}
/*fin container prinicipal */
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
}
nav .nav-car img{
    width: 50px;
}
nav .nav-car{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    color:#ffffff;
}
nav > ul{
    display: none;
}
/* fin navbar */
/* section */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
section span{
    font-size: 20px;
}
section select{
    width: 300px;
    height: 50px;
}
/* fin section */

/* main */
.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    margin: 20px;
    height: 430px;
    width: 350px;
}
main .card img{
    width: 300px;
    height: 330px;
}
main .card .text-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .card .text-button span{
    font-size: 25px;
    padding: 10px;
}
main .card .text-button button{
    font-size: 15px;
    padding: 10PX;
    background-color:#00b8ff;
    color: white;
    border-radius: 5px;
    width: 100px;
}
    /* paginas */
    main .paginas{
        display: flex;
        justify-content: center;
    }
    main .paginas ul{
        list-style: none;
        display: flex;
        padding: 5px;
        margin: 30px;
    }
    main .paginas ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgray;
        width: 50px;
        height: 50px;
        color:yellowgreen;
        font-size: 25px;
    }
/* fin main */
/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 30px;
}
footer span{
    color:#ffffff;
}
/* fin footer */

/* mediaqueries destok 992 */

@media (min-width:576px) {
    .grid-container{
        grid-template-areas:
        "nav section"
        "nav main"
        "footer main" 
        ;
        grid-template-columns: 180px 1fr;
        grid-template-rows: 80px auto 100px;
    }
    main .container-cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    main .card{
        margin: 20px;
        height: 330px;
        width: 250px;
    }

    main .container-cards .card img{
        width: 200px;
    }

    nav{
        flex-direction: column;
        justify-content: start;
        gap: 35px;
        padding: 15px;
        align-items: center;
    }
    nav .nav-car img{
        width: 25px;
        padding: 5px;
    }
    nav .nav-car h1{
        font-size: 16px;
    }
    nav ul{
        display: block;
        list-style: none;
        font-size: 25px;
        padding: 10px;
    }
    nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    nav ul li a{
        color: white;
        text-decoration: none;
    }

    nav > .menu-hamburguesa{
        display: none;
    }

    footer span{
        text-align: center;
    }  
}