*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container principal */
.grid-container{
    display: grid;
    grid-template-areas:
    "nav"
    "section"
    "main"
    "footer" 
    ;
    grid-template-rows: 80px 80px 85% 80px;
    min-height: 85vh;
}

nav{
    grid-area: nav;
    background-color: #00b8ff;
}
section{
    grid-area: section;
    background-color: #f3eae8;
}
main{
    grid-area: main;
    
}
footer{
    grid-area: footer;
    background-color: #00319a;
}
/*fin container prinicipal */

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
}

nav .nav-car img{
    width: 50px;
}

nav .nav-car{
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    color:#ffffff;
}
/* fin navbar */

/* section */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
section span{
    font-size: 20px;
}
section select{
    width: 70%;
    height: 50px;
}
/* fin section */

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer img{
    width: 30px;
}
footer span{
    color:#ffffff;
}
/* fin footer */